<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPZWp-K34VtpVdsxK9l3oFFTyqvR4k49s</string>
	<key>GCM_SENDER_ID</key>
	<string>838298723788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dtdl</string>
	<key>PROJECT_ID</key>
	<string>devguardai-5ace7</string>
	<key>STORAGE_BUCKET</key>
	<string>devguardai-5ace7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838298723788:ios:3b9718b8693e5491cb2969</string>
</dict>
</plist>